---
name: Swagger Editor validation

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main

jobs:
  test_swagger_editor_validator_remote:
    runs-on: ubuntu-latest
    name: Swagger Editor Validator Remote

    steps:
      - uses: actions/checkout@v4
      - name: Validate OpenAPI definition
        uses: char0n/swagger-editor-validate@v1.3.2
        with:
          definition-file: code/API_definitions/qod-api.yaml
